body{
    background-color: #00688B
    ;
}
.container {
    display: inline-block;
    width: 800px;
    background-color: aqua;
    margin-left: calc((100% - 800px) / 2);
    margin-top: 100px;
}
.left-colom{
    display: inline-block;
    width: 40%;
    float: left;
    padding: 40px;
    color: white;
}


.main-title{
    display: inline-block;
    width: 100%;
}
.bootom-links{
    
    display: inline-block;
    width: 100%;
}
.bootom-links > .symbol {
    display: inline-block;
}
   
.bootom-links > .link{
    display: inline-block;
    color: white;
}
.right-colom{
    display: inline-block;
    width: 60%;
    
    background-color:white;
    padding: 60px;
position: relative;
}
.close{
    background-color: red;
    float: right ;
    display: inline-block;
    width: 60px;
    height: 60px;
   position: absolute;
   top: 0px;
   right: 0px;
   text-align: center;
   font-size: 30px;
   line-height: 60px;
}
.form{
    display: inline-block;
    width: 100%;

}
.form-row{
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}
.form-row:last-of-type {
    margin-bottom: 0px;
}
label{
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    color: #C8C8C8;
    font-size: 14px;
}
input{
    display: inline-block;
    width: 100%;
    border: none;
   border-bottom: 1px solid #F6F6F6;
   margin-top: 10px;
   line-height: 20px;

}
.btn{
    display: inline-block;
    background-color: #015CDA;
    color: white;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    font-size: 18px;
    line-height: 20px;
    border: none;
    text-transform: capitalize;
    cursor: pointer;
}
.btn:hover{
    background-color: violet;
}
.symbol{
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
    padding: 10px;
    line-height: 20px;
    margin-left: 10px;
}
.link{
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
    padding: 10px;
    line-height: 20px;
    text-decoration: none;
    color: #6C7EC8;

}
